:root {
  --color-i: #3db9cf;
  --color-j: #3358d4;
  --color-l: #ec9455;
  --color-o: #d9cb08;
  --color-s: #30a46c;
  --color-t: #cf91d8;
  --color-z: #e54d2e;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
}

table {
  border-collapse: collapse;
}

td {
  width: 24px;
  height: 24px;
  border: 1px solid #e8e8e8;
  box-shadow: 0 0 0 6px inset;
}
